{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div class="row mb-5">
    <div class="col-md-12">
        <!-- Header -->
        <h4 class="text-center mb-4">Scheduled Post</h4>

        <!-- If there are more than two post, allow the user to order them -->
        {% if posts | length > 1 %}
            <p class="long-press-to-order">Long press on a post to change the order</p>
        {% endif %}

        <!-- Add new post button -->
        <a class="add-new-post d-md-none" href="/post/add">
            <i class="bi bi-plus"></i>
        </a>

        <!-- Display scheduled user's post -->
        {% if posts %}
            <div id="post-section">
                {% for post in posts %}
                    <div class="post-box">
                        <div class="rounded" style="background-image: url({{url_for('send_file', filename=post['filename'])}})"></div>
                        <input type="hidden" class="post-id" value="{{ post['id'] }}">
                        <p class="image-text m-0">{{ post['date'] }}</p>
                    </div>
                {% endfor %}
            </div>

        <!-- Show default message when user has no post scheduled -->
        {% else %}
        <div class="d-flex justify-content-center">
            <div class="rounded text-center border no-post-scheduled">There are no posts scheduled</div>
        </div>
        {% endif %}
    </div>
</div>

<!-- https://github.com/SortableJS/Sortable v1.15.0 -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

<!-- https://github.com/john-doherty/long-press-event -->
<script src="{{ url_for('static', filename='js/longPressEvent.min.js') }}"></script>

<!-- Page scripts -->
<script src="{{ url_for('static', filename='js/homePage.js') }}"></script>
{% endblock %}