# main
__pycache__/*
.vscode/*
flask_session/*
uploads/*
tmp/*
.env

# files
*.js
!static/js/long-press-event.min.js
!static/js/cropImage.js
!static/js/fb-login.js
!static/js/functions.js
!static/js/post-add-page.js
!static/js/post-edit-page.js
!static/js/post-page.js


#css
# static/css/carousel.css
# static/css/cropper.css