/* Button */
.button {
    border: 0;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    background: black;
}

.remove-image-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 3;
}

.toggle-cropbox-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 3;
}

.crop-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 3;
}

.button-icon-event {
    pointer-events: none;
}

/* Ratio */
.btn-ratio-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-ratio {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.btn-ratio > * {
    pointer-events: none;
}

.btn-ratio div {
    border: 2px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-ratio p {
    font-size: 12px;
    color: #ccc;
    margin: 0;
}

.btn-ratio.active div {
    border: 2px #000 solid;
}

.btn-ratio.active p {
    color: #000;
}

.ratio_original {
    width: 20px;
    height: 30px;
}

.ratio_square {
    width: 20px;
    height: 20px;
}

.ratio_4_5 {
    width: 20px;
    height: 25px;
}

.ratio_16_9 {
    width: 25px;
    height: 15px;
}


/* Media */
.image-element-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.current-media {
    width: inherit;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.image-element {
    width: inherit;
    max-width: 100%;
    display: block;
}