/* GENERAL */
/* :root {
    --hour-format-width: 50px;
    --hour-width: 50px;
    --minute-width: 50px;
} */

body {
    position: relative;
    height: 100vh;
    min-height: 100vh;
}

/* BOOSTRAP DEFAULT */
.alert {
    width: 100%;
}

.accordion-button:not(.collapsed), .accordion-item {
    box-shadow: none;
    border: none;
}

.accordion-button.collapsed {
    background-color: #eee;
}


.input-text-error {
    box-shadow: 0 0 0 .25rem rgba(253, 13, 13, 0.40);
}

/* ROUTE: POST */
.dragging {
    scale: 0.9;
    opacity: .5;
}

#post-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.add-new-post {
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 1;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    border: 1px solid #ccc;
}

.add-new-post i {
    font-size: 30px;
    padding: 5px 8px;
    pointer-events: none;
}

.add-new-post:hover {
    color: #333;
}

.post-box {
    position: relative;
}

.post-box div {
    width: 100px;
    height: 150px;
    pointer-events: none;
    background-size: cover;
    background-position: center center;
}

.image-text {
    pointer-events: none;
    width: 90%;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .9);
}

.no-post-scheduled {
    width: 100%;
    padding: 15px;
    background: var(--bs-gray-100);
    color: var(--bs-gray-600);
}

.long-press-to-update {
    text-align: center;
    color: var(--bs-gray-600);
    font-size: 12px;
}

@media(min-width: 768px) {

    .post-box  div {
        width: 200px;
        height: 250px;
    }

    .image-text {
        font-size: 14px;
        left: 10px;
    }

    .no-post-scheduled {
        max-width: 60%;
    }
}

@media(min-width: 1200px) {
    .alert {
        max-width: 60%;
    }
    
    .post-box  div {
        width: 250px;
        height: 300px;
    }
}

/* ROUTE: POST/ADD */
#media-files-wrapper-parent {
    background-color: #eee;
}

#media-files-wrapper {
    cursor: pointer;
    color: #666;
    border: #666 2px dashed;
    aspect-ratio: 1;
}

/* ROUTE: POST EDIT */

@media (min-width: 576px) {
    .col-section {
        box-shadow: rgba(198, 198, 198, 0.9) 0px 1px 10px 1px;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }
}

.edit-post-picture img {
    width: 100%;
}

.caption-section {
    position: relative;
}

.caption-section i {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.readonly-textarea {
    width: 100%;
    /* border: 0; */
    resize: none;
    cursor: default;
    background-color: transparent !important;
}

.readonly-textarea:focus {
    box-shadow: none;
}

/* .datetime-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#date {
    width: calc(100% - var(--hour-format-width) - var(--hour-width) - var(--minute-width) - var(--bs-gutter-x))
}

#hour {
    width: var(--hour-width);
}

#minute {
    width: var(--minute-width);
}

#hour-format {
    width: var(--hour-format-width);
} */

.edit-post-buttons {
    display: flex;
    /* justify-content: space-around; */
}

/* ROUTE: ACCOUNT */

.list-group-item div p {
    display: inline-block;
    margin: 0;
}

.list-group-item div p:first-child {
    width: 130px;
    font-weight: 600;
}

.edit-account-form input {
    max-width: 170px;
    width: auto;
    border: unset;
}

@media (max-width: 430px)
{
    .list-group-item div p:first-child {
        width: 90px;
    }

    .edit-account-form input {
        max-width: 130px;
    }
}

/* FOOTER */
/* footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--bs-gray-100);
    padding: 10px;
    text-align: center;
    font-size: 10px;
    color: var(--bs-gray-600);
} */