/* GENERAL */

.input-text-error {
    box-shadow: 0 0 0 .25rem rgba(253, 13, 13, 0.40);
}

/* ROUTE: POST */

#post-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.add-new-post {        
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;    
    
    text-decoration: none;
    color: #000;
    border: 1px var(--bs-gray-200) solid;
    background-color: var(--bs-gray-100);
}

.add-new-post:hover {
    color: #000;
}

.add-new-post i {
    font-size: 40px;
    pointer-events: none;
}

.post-box img {
    width: 100px;
    height: 150px;
    box-sizing: content-box;
    pointer-events: none;
}

.move-text {
    margin: 0;
    position: absolute;
    bottom: 5px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 20px;
    padding: 0px 10px;
    padding-bottom: 0px;
    right: 19px;
    padding-bottom: 4px;
}

.dragging {
    scale: 0.9;
    opacity: .5;
}

/* ROUTE: POST/ADD */
#media-files-wrapper {
    cursor: pointer;
    color: #666;
    border: #ccc 2px dashed;
    border-radius: 4px;
}
