<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Ospost is a final proyect for CS50 that use the Facebook graph API to schedule Instagram post">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Ospost | Privacy Policy</title>
    <style>
        body {
            font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 1.5;
        }
    </style>
</head>

<body>
    <div style="padding: 1rem;">
        <h2>Privacy Policy</h2>
        Privacy is very important. We may collect some of your personal information that you share through Meta platforms.
        <br>
        <br>
        Information we may collect are:
        <ul>
            <li><b>Email:</b> Useful to notify user when an event occurs in the app.</li>
            <li><b>Instagram username:</b> Useful to organize folder structure with the media you upload.</li>
        </ul>
    </div>
</body>
</html>