{% extends "layout.html" %}

{% block title %}
Add post
{% endblock %}

{% block main %}

<!-- https://github.com/fengyuanchen/cropperjs v1.5.12-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Styles for class that use cropperjs -->
<link href="{{ url_for('static', filename='css/cropImage.css') }}" rel="stylesheet">

<div class="row justify-content-center mb-5">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-section">
        <h4 class="text-center mb-4">New Post</h4>
        <form method="post" enctype="multipart/form-data">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header mb-2" id="flush-headingOne">
                        <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Media
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="mb-2 rounded p-3" id="media-files-wrapper-parent">
                            <label class="d-flex align-items-center justify-content-center rounded" id="media-files-wrapper"
                                for="add-media-files">
                                <span class="text-center">
                                    <i class="bi bi-camera" style="font-size: 30px;"></i><br>
                                    <!-- <p class="m-0">Select media</p> -->
                                    <p class="m-0">Format: JPEG</p>
                                    <p class="m-0">File size: 8 MB maximum.</p>
                                </span>
                                <input class="d-none" type="file" id="add-media-files" name="add-media-files" accept="image/jpg, image/jpeg">
                            </label>
                        </div>
                        <div class="upload-preview rounded">
                            <!-- upload preview -->
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header mb-2" id="flush-headingTwo">
                        <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Date / Caption
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <input type="datetime-local" class="form-control mb-2" autocomplete="off" name="date" id="date" placeholder="mm / dd /yyyy, --:-- --" onfocus="(this.type='datetime-local')" onblur="(this.type='text')">
                        <textarea class="form-control mb-2" autocomplete="off" name="caption" rows="5" id="caption" placeholder="Insert a caption (optional)"></textarea>
                        <button id="btnSendForm" class="btn btn-dark">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- https://github.com/fengyuanchen/cropperjs v1.5.12-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- A class that use cropperjs -->
<script src="{{ url_for('static', filename='js/cropImage.js') }}"></script>

<!-- Page script -->
<script src="{{ url_for('static', filename='js/post-add-page.js') }}"></script>

{% endblock %}